/*======================================= HTML TAGS CONFIGS =======================================*/
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    text-decoration: none;
    color: blue;
} 

/*============================================ CLASSES ============================================*/
/*===== BACKGROUNDS =====*/
.main-background {
    background: rgb(240, 240, 240);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-background{
    background: linear-gradient(to top, #252525, #404040);
}
.hero-background {
    background-image: url("/assets/images/warehouse.jpg");
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
}

/*===== BORDERS =====*/
.hero-border {
    border-width: 2px;
    border-style: hidden;
    padding: 150px;
}
.section-border {
    background-color: #aaa;
    border-width: 2px;
    border-style: hidden;
    padding: 10px;
}
.inner-border {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
} 
.nav-border {
    border-width: 2px;
    border-style: hidden;
    padding: 25px;
}

/*===== BUTTONS =====*/
.nav-button {
    color: white;
    border-style: hidden;
    border-width: 0px 2px;
    padding: 5px;
}
.button {
    color: black;
    background-color: #ff7e26;
    border-color: #ffa472;
    border-style: outset;
    border-radius: 5px;
    padding: 5px;
}

/*===== CARDS =====*/
.cards-layout {
    background-color: antiquewhite; /*WIP*/
}

/*===== TEXT AND FONTS =====*/
.center-text {
    text-align: center;
}
.hero-text {
    font-size: 50px;
    text-shadow: 
        0 0 25px black, 
        0 0 50px black,
        0 0 75px black;
}
.large-text {
    font-size: 30px;
    text-shadow: 
        0 0 25px black, 
        0 0 50px black;
}
.oswald-hero {
    color:white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*============================================== IDs ==============================================*/