/*======================================= HTML TAGS CONFIGS =======================================*/
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    text-decoration: none;
    color: blue;
} 

/*============================================ CLASSES ============================================*/
/*===== BACKGROUNDS =====*/
.main-background {
    background: rgb(240, 240, 240);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-background{
    background: linear-gradient(to top, #252525, #404040);
}
.hero-background {
    background-image: url("/assets/images/warehouse.jpg");
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
}

/*===== BORDERS =====*/
#card-container1 {
    display: flex;
    justify-content: center;
}
.hero-border {
    border-width: 2px;
    border-style: hidden;
    padding: 130px;
}
.section-border {
    width: 780px;
    border-width: 1px;
    border-style: solid;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}
.inner-border {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
} 
.nav-border {
    border-width: 2px;
    border-style: hidden;
    padding: 20px;
}
.card-margin {
    margin-left: 5px;
    margin-right: 5px;
}

/*===== POSITIONING =====*/
.company-logo {
    color: white;
    position: absolute;
    left: 25px;
    top: 20px;
}

/*===== BUTTONS =====*/
.nav-button {
    color: #ddd;
    border-style: hidden;
    border-width: 0px 2px;
    padding: 5px;
}

.button {
    color: white;
    background-color: #ff7e26;
    border-color: #ffa472;
    border-style: outset;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
}


/*===== CARDS =====*/
.cards-layout {
    background-color: antiquewhite; /*WIP*/
}

/*===== TEXT AND FONTS =====*/
.center-text {
    text-align: center;
}
.hero-text {
    font-size: 60px;
    text-shadow:
        0 0 25px black, 
        0 0 50px black,
        0 0 75px black;
}
.large-text {
    font-size: 30px;
    text-shadow:
        0 0 25px black, 
        0 0 50px black;
}
.oswald-hero {
    color:white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.montserrat-button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*===== USER INTERACTION =====*/
.nav-button:hover {
    color: white;
}

/*============================================== IDs ==============================================*/