/*Fonts Thingies*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigation Configs*/
nav a {
    text-decoration: none;
    color: blue;
} 

.main-background {
    background-image: url("/assets/images/patrick.png");
}

/*Classes*/
.section-divider {
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
}
.inner-border {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
} 
.nav-border {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
}
.center-text {
    text-align: center;
}